/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full height */
html, body {
    height: 100%;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.name {
    font-size: 14px;
    color: #ddd;
}

/* Navbar */
nav {
    background: #34495e;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.3s;
}

/* Active */
nav ul li a.active {
    background: #1abc9c;
    border-radius: 5px;
}

/* Hover */
nav ul li a:hover {
    background: #1abc9c;
    border-radius: 5px;
}

/* Main */
main {
    flex: 1;
    padding: 30px;
    text-align: center;
}

/* Titles */
h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

/* ===== TABLE ===== */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #1abc9c;
    color: white;
}

th, td {
    padding: 12px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #e0f7f5;
}

/* ===== FORM ===== */
.form-section,
.contact-section {
    background: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16a085;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

    /* Navbar زي الكمبيوتر */
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 5px;
    }

    nav ul li a {
        padding: 6px 8px;
        font-size: 12px;
    }

    /* Table للموبايل */
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    /* Forms */
    .form-section,
    .contact-section {
        width: 90%;
    }

    /* Text */
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    main {
        padding: 15px;
    }
}